{% extends 'layout.html.twig' %}

{% block title %}Lista de Locações{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h1 class="text-uppercase">Lista de Locações</h1>
        </div>
        <div class="col-6">
             <a href="{{ path('rentail_new') }} " class="btn btn-primary float-right">Locar Carro</a>
        </div>
    </div>  

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">  
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Carro</th>
                            <th>Cliente</th>
                            <th>Data Locação</th>
                            <th>Data Devolução</th>
                            <th>Status</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rentail in rentails %}
                        <tr>
                            <td>{{ rentail.id }}</td>
                            <td>{{ rentail.getCar().getBrand().name }} {{ rentail.getCar().model }} {{ rentail.getCar().getYear() }}</td>
                            <td>{{ rentail.getClient().name }}</td>
                            <td>{{ rentail.dateRentail ? rentail.dateRentail|date('d-m-Y') : '' }}</td>
                            <td>{{ rentail.dateDevolution ? rentail.dateDevolution|date('d-m-Y') : '' }}</td>
                            <td>
                                 <span class="badge badge-{{ (rentail.getCar().status) ? 'warning' : 'success' }}"> {{ (rentail.getCar().status) ? 'Locado' : 'Devolvida' }}</span>
                           </td>
                            <td>
                                <a class="btn btn-success" href="{{ path('rentail_show', {'id': rentail.id}) }}">Mostrar</a>
                                {% if  rentail.dateDevolution  == '' %}
                                <a class="btn btn-primary" href="{{ path('rentail_edit', {'id': rentail.id}) }}">Devolver</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
{% endblock %}
