{% extends 'layout.html.twig' %}

{% block title %}Lista de Locações{% endblock %}

{% block content %}
    <h1>Lista de Locações</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_rentail</th>
                <th>Date_devolution</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rentail in rentails %}
            <tr>
                <td>{{ rentail.id }}</td>
                <td>{{ rentail.dateRentail ? rentail.dateRentail|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rentail.dateDevolution ? rentail.dateDevolution|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rentail.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('rentail_show', {'id': rentail.id}) }}">mostrar</a>
                    <a class="btn btn-primary" href="{{ path('rentail_edit', {'id': rentail.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rentail_new') }} " class="btn btn-primary">Novo</a>
{% endblock %}
