{% extends 'layout.html.twig' %}

{% block title %}Rentail{% endblock %}

{% block content %}
    <h1>Rentail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rentail.id }}</td>
            </tr>
            <tr>
                <th>Data de Locação</th>
                <td>{{ rentail.dateRentail ? rentail.dateRentail|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Data de Devolução</th>
                <td>{{ rentail.dateDevolution ? rentail.dateDevolution|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ rentail.status ? 'Locado' : 'devolvido' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rentail_index') }}">Voltar para listagem</a>

    <a href="{{ path('rentail_edit', {'id': rentail.id}) }}" class="btn btn-primary">editar</a>

    {{ include('rentail/_delete_form.html.twig') }}
{% endblock %}
