{% extends 'layout.html.twig' %}

{% block title %}Rentail{% endblock %}

{% block content %}
    <h1>Rentail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rentail.id }}</td>
            </tr>
            <tr>
                <th>Date_rentail</th>
                <td>{{ rentail.dateRentail ? rentail.dateRentail|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_devolution</th>
                <td>{{ rentail.dateDevolution ? rentail.dateDevolution|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ rentail.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rentail_index') }}">back to list</a>

    <a href="{{ path('rentail_edit', {'id': rentail.id}) }}">edit</a>

    {{ include('rentail/_delete_form.html.twig') }}
{% endblock %}
