
<div class="card">
    <div class="card-body">
       {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
          {{ form_widget(form) }}
          <button class="btn btn-primary mt-2 float-right">{{ button_label|default('Salvar') }}</button>
      {{ form_end(form) }}
    
        <a href="{{ path('brand_index') }}">Voltar para a listagem</a>

    </div>
</div>