{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {# <div class="row">
        <div class="col-md-6">
              {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_help(form.name) }}
                {{ form_errors(form.name) }}
        </div>
        <div class="col-md-6">
              {{ form_label(form.label) }}
                {{ form_widget(form.label) }}
                {{ form_help(form.label) }}
                {{ form_errors(form.label) }}
        </div>
    </div> #}
    <button class="btn btn-primary mt-2 float-right">{{ button_label|default('Salvar') }}</button>
{{ form_end(form) }}
